#skills-section {
    background-color: darkcyan;
    display: flex;
    justify-items: center;
    align-items: center;
}
#skill-card-list {
    padding: 0 10%;
}
.skill-card-area {
    display: flex;
    justify-content: center;
    align-items: center;
}